u {
    text-decoration: underline;
}
.bg-meme-gradient{
    background: rgb(255,223,223);
    background: linear-gradient(170deg, rgba(255,223,223,1) 0%, rgba(107, 216, 154,1) 100%); 
}
.custom-pink{
    color:rgb(255, 154, 154);
}
.custom-green{
    color: #6bd89a
}
.custom-pink--navbar:hover{
    color: rgb(255, 154, 154);
}
.custom-green--navbar:hover{
    color: rgb(154, 228, 186);
}